.strenght{
    height: 22px;
    width: 145px;
    border: 2px solid black;
    display: flex;
    position: absolute;
    left: 79px;
    top: 23px;
}

.password{
    display: inline-block;
}


.passwordContainer{
    display: flex;
    flex-direction: column;
    position: relative;
}

.nameSection{
    display: flex;
    width: 400px;
}

form{
    display: flex;
}